.user-header {
  margin-top: 50px;
  color: purple;
  padding-left: 30px;
  text-align: center;
}

.details {
  text-align: center;
  margin-top: 50px;
}

a {
  color: grey;
  text-decoration: none;
}

.details p {
  padding-left: 30px;
  font-size: 20px;
}

.details b {
  color: green;
}

.details img {
  margin-bottom: 30px;
}
