.error-template {
  padding: 40px 15px;
  text-align: center;
}
.error-template h1 {
  color: red;
}
.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}
.error-actions .btn {
  padding: 8px;
  margin-right: 10px;
}
.home {
  font-size: large;
  color: white;
}
